altgraph==0.17.5
annotated-doc==0.0.4
anyio==4.13.0
certifi==2026.2.25
cffi==2.0.0
click==8.3.1
filelock==3.25.2
fsspec==2026.3.0
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.8.0
idna==3.11
macholib==1.16.4
markdown-it-py==4.0.0
mdurl==0.1.2
mlx==0.31.1
mlx-metal==0.31.1
mlx-qwen3-asr==0.3.2
modulegraph==0.19.7
numpy==2.4.4
packaging==26.0
py2app==0.28.10
pycparser==3.0
Pygments==2.20.0
pynput==1.8.1
pyobjc-core==12.1
pyobjc-framework-ApplicationServices==12.1
pyobjc-framework-Cocoa==12.1
pyobjc-framework-CoreML==12.1
pyobjc-framework-CoreText==12.1
pyobjc-framework-Quartz==12.1
pyobjc-framework-Vision==12.1
PyYAML==6.0.3
regex==2026.3.32
rich==14.3.3
rumps==0.4.0
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
sounddevice==0.5.5
soundfile==0.13.1
tqdm==4.67.3
typer==0.24.1
typing_extensions==4.15.0
cn2an==0.5.23
word2number==1.1
